body {
    /* \nome da cor */
    /* bacground-color: red; */

    /* Hexadecimal */
    /* bacgorund-color: #F28705 */

    /* RGB */
    /* bacground-color: rgb(255,72, 133); */

    /* RGB COM TRANSPARENCIA */
    background-color: rgb(181, 199, 248);
}

h1 {
    color:rgb(0, 17, 255);
    font-family: "Archivo Black", sans-serif
    font-size: 50px;
}

p {
    .archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

h2 {
    color:rgb(255, 8, 0);
    font-size: 30px;
}

/* PX (pixels) é uma unidade fixa. O tamanho sempre será o mesmo, independente di tamanho da tela. */

/* 2em - o dobro do tamanho padraão, significa que ele é ,ultiplicador do tamanho base */

/* 120% - 20% maior que o padrão */

/* 5VW - 5% da largura da tela / isso faz com que o tamanho do texto se ajuste ao tamanho da tela!, MUITO útil para design responsivo. */

/* 
Cotrola a grossura (negruito) do texto.
100 = Super fino
400 = Normal
700 = Negrito
900 = super negrito */

/* SRONG - forme import~]

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
*/





